[submodule "CleanUNet"]
	path = CleanUNet
	url = https://github.com/MaciAC/CleanUNet
[submodule "DNS-Challenge"]
	path = DNS-Challenge
	url = https://github.com/MaciAC/DNS-Challenge
[submodule "baf-dataset"]
	path = baf-dataset
	url = git@github.com:MaciAC/baf-dataset.git
